@charset "utf-8";

@import "compass/reset";
@import "compass/css3";
@import "normalize";

/* -------- styles -------- */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background: #EAEAEC; // for IE8
  background: -webkit-radial-gradient(top, #FFFFFF, #E4E0E0);
  background: radial-gradient(#FFFFFF, #CACACC);
  background-attachment: fixed;
  background-position: top left;
  margin: 60px 0 0 0;
}

/* -------- variables --------  */
$body-width: 1024px;

$text-color: #411;
$link-text-color: #476;
$thin-text-color: #888;
$thin-link-text-color: #C66;

$content-background-color: #F4F0F0;

$main-border-color: #CCC;

@import "header";
@import "boilerplate";
